p{
  font-size:24px;
  color:#ffffff;
}

h1{
  color:#ffffff;
  font-size:50px;
}

body{
  background-image:url(../../assets/img/hd-wallpaper-25.jpg);
}

nav.navbar.navbar-default{
  background-color:transparent;
  font-weight:600;
  font-size:18px;
}

img{
  margin:0 auto;
}

div.col-md-12{
  padding:10px;
}

textarea{
}

textarea{
  color:#222;
}

input{
  color:#222;
}

div.jumbotron{
  background-color:#5d95cb;
  background-image:url(../../assets/img/hd-wallpaper-25.jpg);
}

div#carousel-1.carousel.slide{
  width:60%;
  margin:0 auto;
  margin-top:80px;
}

div.footer{
  padding:10px;
}

input{
}

i.icon{
  font-size:300%;
  padding:10px;
}

div{
  background-repeat:no-repeat;
  background-color:#5792c9;
  color:#ffffff;
  font-family:cursive;
}

